/* Stylesheet for the Meteor Slides slideshow

	Copy "meteor-slides.css" to your theme's directory to replace this stylesheet

*/

#meteor-slideshow, .meteor-slides {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.slides {
	margin: 0;
	padding: 0;
}

#meteor-slideshow .slide {
	margin: 0;
	padding: 0;
	display: none;
}

#meteor-slideshow #slide-1 {
	display: block;
}

#meteor-slideshow .slide a img {
	margin: 0;
	padding: 0;
	border: 0;
}

#meteor-slideshow .slide img {
	margin: 0;
	padding: 0;
	border: 0;
}

ul#meteor-nav {
	display: none;
	list-style: none;
	position: relative;
	top: 0px;
	z-index: 50;
	margin: 0;
	padding: 0;
}

*ul#meteor-nav {
	position: absolute;
}

#meteor-nav #prev {
	float: left;
	margin: 0;
}

#meteor-nav #next {
	float: right;
	margin: 0;
}

#meteor-nav a {
	display: block;
	width: 25px;
	text-indent: -9999px;
	outline: none;
}
	
#meteor-nav #prev a {
	background: url('../images/prev.png') no-repeat center right;
}

#meteor-nav #prev a:hover {
	background: url('../images/prev.png') no-repeat center left;
}

#meteor-nav #next a {
	background: url('../images/next.png') no-repeat center left;
}

#meteor-nav #next a:hover {
	background: url('../images/next.png') no-repeat center right;
}